.galleryComponent {
  width: 90vw;
  margin: 0 auto;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr;

  // grid-template-rows: ;

  .galleryElement {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }

  // &::nth-child(2) {
  //   grid-column-start: 1;
  //   grid-column-end: 3;
  //   grid-row-start: 1;
  //   grid-row-end: 2;
  // }
}
