<!-- {{ galleryElements[0]?.galleryElementType }} -->
<div class="galleryComponent">
  <div
    class="galleryElement"
    *ngFor="let galleryElement of galleryElements"
    (click)="selectedElement(galleryElement)"
  >
  <button (click)="changeNavigation(galleryElement)">edit</button>
    <app-image-component
      *ngIf="galleryElement.type === 'IMAGE'"
      [imageElement]="galleryElement"
    ></app-image-component>
    <app-video-component
      *ngIf="galleryElement.type === 'VIDEO'"
      [videoElement]="galleryElement"
    ></app-video-component>
  </div>
</div>
<div>
  <app-preview-component
  *ngIf="selectedGalleryElement"
    [previewGalleryElement]="selectedGalleryElement"
    [galleryElementIndex]="selectedGalleryElement.id"
    [previewGalleryElements]="galleryElements"
    (closePreview)="closePreview()"
  >
  </app-preview-component>
</div>
